@media (max-width: 740px) {
    #nav {
        display: block;
    }
    #nav li {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }

    #header .search {
        display: none;
    }
    #header .mobile-menu-btn, #header .search {
        position:absolute;
        top: 0;
        right: 0;
    }

    .anh3 {
        width: 100%;
    }

    #content .img-member {
        width: 60%;
    }

    .block-buy {
        width: 100%;
    }
    .buy-button {
        width: 100%;
    }

    .contact-info {
        width: 100%;
        margin-bottom: 16px;
    }
    .contact-form {
        width: 100%;
    }
    .contact-form-1 {
        display: block;
    }
    .contact-form-1 input {
        width: 100%;
        margin-top: 8px;
    }
    .contact-send {
        width: 100%;
        margin-top: 0px;
    }
}

@media (min-width: 741px) {
    #header .mobile-menu-btn {
        display: none;
    }
}